.sideBtnsContainer {
    margin-left:0;
    display:flex;
    align-items: flex-start;
    background-color: rgba(87, 166, 236, 0.3);
    height: 100vh;
}
.sideRoomButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(96, 165, 224, 0.3);
    margin-left: 0;
    height: 80px;
    font-size: 30px;
    border-color: rgba(15, 92, 160, 0.3);
    transition: all 0.1s;
}

.sideRoomButtons:hover {
    background-color: rgba(108, 173, 230, 0.1);
    box-shadow: 3px 8px 5px rgba(96, 155, 207, 0.2);
}